
@{
    ViewData["Title"] = "Index";
}


@model BasketVm

<div class="row">

    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Cart</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">

                        <tr>
                            <th>Course Name</th>
                            <th>Price</th>
                            <th>Utility</th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>
                                    $@item.GetCurrentPrice @(Model.HasDiscount ? $"(save ${item.GetSavePrice} | applied %{Model.DiscountRate.Value} )" : "")
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId">Delete</a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {

                            <tr>
                                <td>Discount rate</td>
                                <th colspan="2"> %@Model.DiscountRate.Value</th>
                            </tr>

                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "Discount price" : "Total price")</td>
                            <th colspan="2">$@Model.TotalPrice</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode"discount applied
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount"> (Cancel)</a>
                            </div>

                        }

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyInput.Code">
                            <button class="btn btn-outline-secondary" type="submit">Apply</button>
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">Invalid code</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Payment Information</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Keep exploring</a>
                }
                else
                {
                    <div class="alert alert-info">Cart is empty</div>
                }
            </div>
        </div>
    </div>
</div>

